* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: Arial, sans-serif; 
    background-color: #3c0079; 
    padding: 20px; 
    color: #ffffff;
    overflow-x: hidden;
} 


.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.logo h1 {
    max-width: 150px;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.main-nav a {
    color: #ffffff;
    transition: color 0.3s ease;
    font-size: 25px;
}

.main-nav a:hover {
    color: #9370db;
}

.products_list { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 30px; 
    margin: 20px auto; 
    padding: 10px; 
    align-items: flex-start;
}

.card {
    border-radius: 20px;
    background-color: rgb(35, 29, 29);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: calc(33.333% - 40px);
    max-width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: transform 0.3s ease;
    
}

.products_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 15px;
}

.products_title {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 20px;
}

.price {
    color: #ffffff;
    font-size: 20px;
    margin: 10px 0;
}

.add {
    width: 100%;
    max-width: 250px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(151, 79, 228);
    color: black;
    font-weight: 600;
    margin: 20px auto 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.add:active {
    background-color: gray;
}

.products_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px auto;
    padding: 10px;
}



@media (max-width: 1024px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
    .products_img {
        height: 150px;
    }
    .products_title, .price {
        font-size: 18px;
    }
    .add {
        font-size: 16px;
        height: 45px;
    }
}
