* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgba(76, 6, 123, 0.7);
    color: #ffffff;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    margin-top: 0%;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.header-hero {
    background: url('../images/istockphoto-1416449650-612x612.jpg') no-repeat center;
    background-size: cover;
    padding: 30px 0 320px;
    position: relative;
}

.header-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(76, 6, 123, 0.7));
    z-index: 1;
}

.header-hero > * {
    position: relative;
    z-index: 2;
}

.logo h1 {
    max-width: 100px;
    vertical-align: baseline;
    
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.main-nav a {
    color: #575757;
    transition: color 0.3s ease;
    font-size: 30px;
}

.main-nav a:hover {
    color: #9370db;
}

.hero-content {
    padding-top: 100px;
    text-align: center;
}

.hero-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.hero-content p {
    font-size: 28px;
    margin-bottom: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.btn-primary {
    background-color: #9370db;
    color: #fff;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(147, 112, 219, 0.5);
}

.btn-primary:hover {
    background-color: #774bae;
}

.footer {
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin: 0;
}