<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <!-- Объединение header и hero -->
    <header class="header-hero">
        <div class="container">
            <a href="#" class="logo">
                <!-- <img src="../images/sugar_5940015.png" alt=""> -->
                 <h1>GLOBAL GAME</h1>
            </a>
            <nav class="main-nav">
                <ul>
                    <li><a href="./about.html">О нас</a></li>
                    <li><a href="./catalog.html">Каталог</a></li>
                    <li><a href="./sign_up.html">Регистрация</a></li>
                    <li><a href="./cart.html">Корзина</a></li>
                </ul>
            </nav>
            
            <!-- Содержимое hero внутри header -->
        </div>
        <div class="hero-content">
            <h1>Добро пожаловать!</h1>
            <p>Откройте для себя наш удивительный мир товаров.</p>
            <a href="./catalog.html" class="btn-primary">Посетите каталог</a>
        </div>
    </header>
    
    <footer class="footer">
        <div class="container">
            <p>© 2023 Все права защищены.</p>
        </div>
    </footer>
</body>
</html>