<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="header-hero">
        <div class="container">
            <a href="" class="logo">
                <!-- <img src="../images/sugar_5940015.png" alt=""> -->
                 <h1>GLOBAL GAME</h1>
            </a>
            <nav class="main-nav">
                <ul>
                    <li><a href="./catalog.html">Каталог</a></li>
                    <li><a href="./sign_up.html">Регистрация</a></li>
                    <li><a href="./cart.html">Корзина</a></li>
                </ul>
            </nav>
        </div>

        <div class="hero-content">
            <h1>Добро пожаловать!</h1>
            <p>Здесь вы найдете любые игры на ваш вкус</p>
            <a href="./catalog.html" class="btn-primary">Посетите каталог</a>
        </div>
    </header>
    

    <div class="container">
        <!-- Секция 'О нас' -->
        <section class="about">
            <h2>О нас</h2>
            <p class="about_p">Мы – ваш надежный проводник в мире видеоигр! 
                В нашем онлайн-магазине представлен широкий выбор игровых продуктов от ведущих разработчиков и издателей. 
                Здесь вы найдете как последние новинки, 
                так и проверенные временем хиты, а также сможете воспользоваться эксклюзивными предложениями по привлекательным ценам.
            </p>
            <div class="advantages">
                <ul>
                    <li>
                        <span class="advantage-title">Быстрая доставка</span><br>
                        <span class="advantage-desc">Мы понимаем важность скорости, поэтому стремимся доставить вашу покупку как можно быстрее.</span>
                    </li>
                    <li>
                        <span class="advantage-title">Гарантия качества</span><br>
                        <span class="advantage-desc">Все товары проходят тщательную проверку перед отправкой.</span>
                    </li>
                    <li>
                        <span class="advantage-title">Поддержка 24/7</span><br>
                        <span class="advantage-desc">Наша команда всегда готова помочь вам с любыми вопросами и проблемами.</span>
                    </li>
                    <li>
                        <span class="advantage-title">Безопасные платежи</span><br>
                        <span class="advantage-desc">Ваши данные защищены современными технологиями шифрования.</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <footer class="footer">
        <div class="container">
            <p>© 2025 Все права защищены.</p>
        </div>
    </footer>
</body>
</html>